* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e6ecee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
  background-color: #F6F2CB;
  display: flex;
  align-items: center;
}

.site--logo{
  margin-right: auto;
  text-decoration: none;
  color: #161616;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  margin-left: 0.5em;
}

.home--container {
  height: 85vh;
  background-image: url(assets/images/alpina_Caravan_cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 90%;
  position: relative;

}

.home--welcome {
  margin: 0;
  font-size: 1.1em;
}

.home--caravan--button {
  position: absolute;
  text-decoration: none;
  color: #161616;
  background-color: orange;
  padding: 0.8em 4.5em;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 5px;
  bottom: 80px;
  left: 30px;
}

.navigation--el a {
  text-decoration: none;
  margin-right: 0.75em;
  color: #161616;
  font-weight: 500;
}

footer {
  background-color: #161616;
  color: rgb(235, 243, 188);
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

.caravan-image {
  width: 400px;
  max-width: 700px;
}

.caravans-container {
  max-width: 850px;
  margin: 0 auto;
}

.caravan-list {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 20px;
}




